<robot name="my_car_camera_laser" xmlns:xacro="http://wiki.ros.org/xacro" reference= "base_footprint_radius">
   
    <xacro:include filename="$(find my_turtlebot_launch)/urdf/include/my_inertial.xacro" />
    <xacro:include filename="$(find my_turtlebot_launch)/urdf/cars/truck.xacro"/>
    <xacro:include filename="$(find my_turtlebot_launch)/urdf/sensor/my_sensor_imu.xacro" />
    <xacro:include filename="$(find openni_description)/model/kinect.urdf.xacro" />

    <xacro:sensor_kinect parent="base_link" 
    cam_px="0" cam_py="1" cam_pz="4" 
    cam_or="0" cam_op="0" cam_oy="0" />

    <xacro:car_imu   parent="camera_rgb_frame">
        <origin xyz="0 -0.2 0.0" rpy="0 0 0" />
    </xacro:car_imu>

</robot>
